<div class="collapse navbar-collapse" id="sidebar-menu">
    {{ knp_menu_render('sylius.ui.menu.admin', {'template': '@SyliusBootstrapTheme/shared/crud/common/sidebar/menu/_menu.html.twig', 'currentClass': 'active'}) }}
</div>
